@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Comic Sans MS", sans-serif;
}

.post-wrapper img,
.ql-editor img {
  width: 100%;
}

#toast {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
  z-index: 20;
  bottom: 1rem;
  right: 1rem;
  position: fixed;
}

.post-wrapper h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-wrapper h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-wrapper pre {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.post-wrapper ul {
  list-style-type: disc;
  margin-left: 2rem;
}

@keyframes slideInDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-in-down {
  animation: slideInDown 0.5s ease-out;
}
