@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.post-wrapper img,
.ql-editor img {
  width: 100%;
}

#toast {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
  z-index: 20;
  bottom: 1rem;
  right: 1rem;
  position: fixed;
}

@keyframes slideInDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-in-down {
  animation: slideInDown 0.5s ease-out;
}
